{% extends "tlsbase.html" %}

{% block title %}TLS{% endblock %}

{% block body %}

<div class="row">
  <div id="txtcont" class="span9">
    <h2>{{c.concept}} 
      {% if c.TR_OCH %} (古: {{c.TR_OCH}}) {% endif %} /
      {% if c.TR_ZH %} (現: {{c.TR_ZH}}) {% endif %}
    </h2>
    <div class="syn">
      <ul>
      {% for s in c.SYNONYM %}
      <li>{{s}}</li>
      {% endfor %}
      </ul>
    </div>
    <div class="definition">
      <pre>{{c.def}}</pre>
    </div>  
    <div class="pointers">
      {% for k in c.pointers %}
      {% if c.pointers[k] %}
      <h3>{{k}}</h3>
      <ul>
      {% for v in c.pointers[k] %}
      <li><a href="{{url_for('.showconcept')}}?id={{v}}">{{v}}</a></li>
      {% endfor %}
      </ul>
      {% endif %}
      {% endfor %}
    </div>
    <div class="words">
      {% for w in c.words %}
      {% set wrd = w['head'].split()[0] %}
      {% set uuid = w['CUSTOM_ID'] %}
      <hr/>
      <h4 id="{{uuid}}">{{loop.index}} {{w['head']}}
	<a title="Show the syntactic word entries for this Lexeme" onclick="show_h5(uuid='H5-{{uuid}}')">Syntactic words</a> | 
	<a title="This will search for this word and allow you to select example sentences." href="{{url_for('main.searchtext', query=wrd, filter='$tls', type='tls', action='add_attr', uuid=uuid)}}">Add example</a></h4>
      <div id="H5-{{uuid}}" style="display:none;">
      {% for s in w['synwords'] %}
      {% if s['head'] != 'SOURCE REFERENCES' %}
      <h5>
      {% for sf in s['funx'] %}
      <a href="{{url_for('.showsynsem', type=sf[0], uuid=sf[1])}}">{{sf[2]}}</a> 
      {% endfor %}
      </h5>
      <pre>{{s.def}}</pre>
      <a  id="{{s.CUSTOM_ID}}" onclick="show_swl(uuid='{{s.CUSTOM_ID}}')">Show examples</a>
      <ul id="SW{{s.CUSTOM_ID}}">
      </ul>
      {% if s.not %}
      <p>{{s.not}}</p>
      {% endif %}  <!-- ends notes -->
      {% endif %}  <!-- ends check for source references -->
      {% endfor %}
      </div>
      {% endfor %}
    </div>  
  </div>
</div>  
{% endblock %}
    
{% block closingscript %}
<script>
  function show_h5x(uid){
  var x = document.getElementById(uid);
  if (x.style.display === 'none')
  { x.style.display = 'block'; }
  else
  { x.style.display = 'none'; }
  };
  
  function show_h5 (uid){
//  alert(uid);
  $('#' + uid).css({"display" : "block"});
  };
  function show_swl(uid){
//  alert(uid);
  $.ajax({
  type : "GET",
  url : "{{url_for('.showex', uuid=uid)}}" + uid, 
//  url : "{{url_for('.showex', uuid=uid)}}",
  success : function(resp){
  $('#SW' + uid).html(resp)
  },
  });
  };
  (function($) {
  $(document).ready(function() {
//  $('#update').click(function() {  
  })})(jQuery);

</script>

{% endblock %}
