{% extends "tlsbase.html" %}

{% block title %}TLS{% endblock %}

{% block body %}

<div class="row">
  <div id="txtcont" class="span9">
    <h1>{{res['syn-func']}} {{res['sem-feat']}}</h1>
    <div class="syn">
      <ul>
	{% for s in res.inst %}
	{% if s.loc %}
	{% set txtloc = s['loc'].split(':') %}
	{% set it_txtid, it_juan = txtloc[0].split('_') %}
	<!-- stupid hack, fails in 30% -->
	{% set it_page = txtloc[1].split('a')[0] + 'a' %}
	<li><b>{{s.char}}</b><br/> <a href="{{url_for('tls.showtext', id=it_txtid, juan=it_juan, query=txtloc[-1], _anchor=it_juan+'-'+it_page, user='tls-kr')}}">{{s.title}}</a>{{s.line}}</li>
	{% endif %}
      {% endfor %}
      </ul>
    </div>  
  </div>
</div>  
{% endblock %}
    
{% block closingscript %}
<script>
  (function($) {
  $(document).ready(function() {
  $('#update').click(function() {  
  })(jQuery);

  function show_swl(var uuid){
  
  };
</script>

{% endblock %}
