{% extends "tlsbase.html" %}

{% block body %}

<div id="introduction">
<h2>Main Features</h2>
<ul><li>
The Thesaurus Linguae Sericae (TLS) is designed as as a collaborative forum for discussion on the close reading of Chinese texts.
</li><li>
TLS provides a corpus of classical Chinese texts wherever possible with interlinear translations. 
</li><li>
TLS links the texts incorporated with an analytic dictionary of the Chinese language.
</li><li>
TLS pays special attention to historical keywords.
</li><li>
TLS works towards a cross-cultural study of conceptual history.
</li><li>
TLS compiles a detailed synonym dictionary of Chinese.
</li><li>
TLS systematically organises the Chinese vocabulary in <a href="{{url_for('tls.concepttree')}}">taxonomic hierarchies of synonym groups.</a>
</li><li>
TLS develops a system of <a href="{{url_for('tls.synfunctree')}}">syntactic categories</a> for the analysis of Chinese texts.
</li><li>
TLS develops a system of rhetorical devices for the analysis of Chinese texts.
</li><li>
TLS deploys a system of standard semantic relations<!--like antonym, converse, epithet, etc. between words-->, <!--thereby--> aiming to define the Chinese conceptual space as a relational space.
</li><li>
TLS seeks to make available up-to-date databases on historical phonology and the history of Chinese characters.
</li>
</ul>
<h2>Cautionary Notes</h2>
<ul>
<li>This database is no more than an on-line construction site.
</li><li>
Due to lack of funding<!--over more than the twenty years of its persistently precarious existence-->, <!--precious --> very little in TLS has so far been proofread or double-checked. <em>Caveat lector!</em>
</li><li>
TLS encourages suggestions for improvement at the bottom of every page. 
</li>
</ul>
</p>
<b>Please acknowledge your use of TLS in your publications.</b>

</div>

{% endblock %}
