{% extends "tlsbase.html" %}

{% block body %}

<h1>TLS - Thesaurus Linguae Sericae 漢學文典 </h1>
<p>{{_('Searched for %(value)s. ', value=key)}}</p>
{{_('Found %(total)d', total=ts)}}
<p>{{ct['tax']|safe}}</p>
<hr/>
<table>
  {% for item in res|sort %}
  {% set it_res = item[1] %}
  <tr>
    <td class="text-left">{{item[0]}}</td>
    <td>
      {% for nit in it_res|sort %}
      {% set concept = nit.split("@")[-1].split("::")[-1] %}
      {% set rtype = nit.split("@")[0].split("=")[0] %}
      {% set stype = nit.split("@")[1] %}
      {% if rtype == 'synf' %}
      <a title="{{ldic[rtype]}}" href="{{url_for('tls.showsynsem', uuid=concept, type='syn-func')}}">{{item[0]}}</a>
      {% else %}
      {% if rtype == 'synd' %}
      <a title="{{ldic[rtype]}}" href="{{url_for('tls.showsynsem', uuid=concept, type='syn-func')}}">{{stype}}</a>
      {% else %}
      {% if rtype == 'sw' %}
      {% set anchor = nit.split("@")[0].split("=")[1] %}
      <a title="{{ldic[rtype]}}" href="{{url_for('tls.showconcept', id=concept, _anchor=anchor)}}">{{concept}}</a>
      {% else %}
      <a title="{{ldic[rtype]}}" href="{{url_for('tls.showconcept', id=concept)}}">{{concept}}</a>
      {% endif %}
      {% endif %}
      {% endif %}
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>
    <p><a href="{{url_for('tls.concepttree')}}">Browse the concepts</a> | 
    <a href="{{url_for('tls.synfunctree')}}">Browse the syntactic functions</a></p>
{% endblock %}
