/* Additional stylesheet for mdweb */

/* this is for the panzoom thingy */
.buttons { margin: 40px 0 0; }

.krp-fixed {
    position: fixed; top : 60px;  
}

.krp-note {
    color : magenta;
    font-size : 90%;
}

.ui-draggable-dragging {
    z-index: 10000!important
}