/* Additional stylesheet for mdweb */

/* this is for the panzoom thingy */
.buttons { margin: 40px 0 0; }

.krp-fixed {
    position: fixed; top : 0px;  
}

.krp-note {
    color : magenta;
    font-size : 90%;
}

.ui-draggable-dragging {
    z-index: 10000!important
}

.tline_right{
    position: absolute; left : 250px;
}

.zhudisp {
    display: block;
}

.zhu {
    font-size : 90%;
}