{% extends "laybase.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}


{% block subhead %}

<header class="jumbotron subhead" id="overview">
  <div class="container">
    <p>
    {{_('Textlist for %(value)s. ', value=key )}}
    {% if filter %}
    {{_('Filtered by: %(value)s. ', value=filter)}}
    {% endif %}
    {{_('Found %(value)d unique texts, %(uv)d of them unique.', value = total, uv=uniq)}} 
    <span  class="pull-right"><a href="search?query={{key}}">{{_('Show results by content')}}</a></span>
    </p>
  </div>
</header>


{% endblock subhead %}



{% block body %}

<div>
  <form id="textlist" action="{{url_for('main.savetextlist')}}" method="POST">
{% if session['user'] %}
    <p style="line-height:0.5em;"></p>
    <span style="background-color:linen;margin-top:2px;border: 3px solid blue;padding:8px 5px 5px 5px;">
    　{{_('Filename:')}} 
    <input style="padding:1px;margin-top:3px" type="text" name="filename" value="{{key}}"/>　
    <input style="margin-bottom:5px" type="submit" value="{{_('Save text list')}}"/>　
    <input style="padding:1px;margin-top:3px" type="checkbox" name="load" value=""/>{{('Immediately load the text list')}}</input>
    <input type="hidden" name="next" value="{{url_for('main.bytext', query=key)}}"/>
    </span>
{% endif %}    
  <table class="table-striped">
    <tr>
{% if session['user'] %}
      <td>{{_('Select')}}</td>
{% endif %}
      <td>{{_('Text No.')}}</td>
      <td>{{_('Title')}}</td>
      <td>{{_('Number of matches')}}</td>
<!--      <td></td> -->
    </tr>
      {% for item in ret %}
      {% set it_txtid = item[0]['ID'] %}
      {% set tit = item[0]['TITLE'] %}
      <tr>
<!-- http://localhost:5000/text/ZB6q0003/003#0221a -->
<!-- ZB1a0068:007-352:2:6 -->
{% if session['user'] %}
<td><input name="cb" value="{{it_txtid}}" type="checkbox"/>　</td>
{% endif %}
<td class="text-left"><a href="{{url_for('main.searchtext', filter=it_txtid, query=key)}}" title="{{it_txtid}}">{{it_txtid}}</a></td>
<td  class="text-left">　{{tit}} </td>
<td  class="text-right">{{item[1]}}</td>
</td>
      </tr>
    {% endfor %}
</table>

</form>
</div>


{% endblock %}

{% block sidebar %}
<div>
  <h2>{{_('Actions')}}</h2>
{% if session['user'] %}
  <p id="select-all" onclick="toggle()">Toggle selection</p>
{% endif %} 
  <p>{{_('Order')}}
    <ul>
    <li><a href="{{url_for('main.bytext', query=key, sort='+count' )}}">{{_('by number of matches')}}</a></li>
    <li><a href="{{url_for('main.bytext', query=key, sort='+txtid' )}}">{{_('by text number')}}</a></li>
    <li><a href="{{url_for('main.bytext', query=key, sort='+title' )}}">{{_('by text title')}}</a></li>
  </ul></p>
</div>
{% endblock sidebar %}

{% block closingscript %}
<script>

  function postform() {
  f = document.getElementsByName('textlist')
  f.submit();
  }
  
function toggle() {
  checkboxes = document.getElementsByTagName('input');
for(var i=0, n=checkboxes.length;i<n;i++) {
    if (checkboxes[i].checked){
	checkboxes[i].checked = false;
	 }
	 else {
    checkboxes[i].checked = true;}
  };
					  };
//this is not used:					  
  $(document).ready(function() {
  $('#select-all').click(function(event) {
  alert("Clicked!");
  if(this.checked) {
  // Iterate each checkbox
  $(':checkbox').each(function() {
  this.checked = true;                        
  });
  }
  });
});


</script>

{% endblock %}
