{% extends "laybase.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}


{% block subhead %}

<header class="jumbotron subhead" id="overview">
  <div class="container">
    <p>Find parallel text passages</p>
  </div>
</header>


{% endblock subhead %}



{% block body %}

<div>
  <form id="citfindinput" action="{{url_for('main.citfind')}}" method="POST">
    
    <p >Text to find parallels for:<br/>
      <textarea class="form-control" name="inp" style="min-width: 90%">{{inp}}</textarea><br/>
How many times to search?
<select name ="x" style="width: 50px">
    <option value="2" {% if x == 2 %} selected {% endif %}>2</option>
    <option value="3" {% if x == 3 %} selected {% endif %}>3</option>
    <option value="4" {% if x == 4 %} selected {% endif %}>4</option>
    <option value="5" {% if x == 5 %} selected {% endif %}>5</option>
    <option value="0" {% if x == 0 %} selected {% endif %}>(newline)</option>
</select>
 - Consolidate by 
<select name ="acc" style="width: 100px">
    <option value="para" {% if acc == "para" %} selected {% endif %}>Paragraph</option>
    <option value="juan" {% if acc == "juan" %} selected {% endif %}>Juan 巻</option>
    <option value="None" {% if acc == "None" %} selected {% endif %}>None</option>
</select>

- Cutoff value: <input style="width: 50px" type="text" name="cutoff" value="{{cutoff}}"/>
- <input type="checkbox" name="br" value="branches">Include branches</input>　
<br/>
      <input style="margin-bottom:5px" type="submit" value="{{_('Find text passages')}}"/><seg style="color:red">(WARNING: This may take several minutes to complete.</seg>)

</p>
  </form>
  {% if tbl %}
  <h2>Info</h2>
  <table id="info">
    <tr>
      <td>Key</td>
      <td class="text-center">　String</td>
      <td class="text-center">　Matches</td>
    </tr>
  {% for item in tbl %}
    <tr>
      <td class="text-left">{{item[0]}}</td>
      <td class="text-left">　{{item[1]}}</td>
      <td class="text-left">　{{item[2]}}</td>
    </tr>
    {% endfor %}
  </table>  
  {% endif %}
  {% if res %}
  <hr/>
  <h2>Results: Found {{res|length}} items ({{df}} sec.)</h2>
  <table id="result">
    <tr>
      <td>Score</td>
      <td class="text-left">　Text</td>
      <td class="text-left">　　Location</td>
    </tr>
  {% else %}
    <h2>Finding parallel texts</h2>
    {{help}}
  <p></p>
  {% endif %}
  {% for item in res %}
  {% set r = item[0] %}
  {% set it_txtid, it_juan = r[2].split(':')[0].split('_') %}
  {% set it_page = r[2].split(':')[1] %}
  {% set it_line = r[2].split(':')[2] %}
  {% set tit = item[1]['TITLE'] %}
    <tr>
      <td>{{'%0.2f' % r[0]|float}}</td>
      <td class="text-left">{{r[1]}}</td>
      <td class="text-left">　<a href="{{url_for('main.showtext', id=it_txtid, juan=it_juan, query=r[3], _anchor=it_juan+'-'+it_page)}}" title="{{it_txtid}} ">{{tit}},{{it_juan}}</a></td>
    </tr>
    {% endfor %}
  </table>
</div>


{% endblock %}

{% block sidebar %}
<div>
  <h2>{{_('Actions')}}</h2>
</div>  
{% endblock sidebar %}

