{% extends "laybase.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Kanripo{% endblock %}

{% block KR %}
{{_('Kanseki Repository')}}
{% endblock KR %}

{% block navlinks %}
          <li><a href="{{url_for('main.catalog')}}">{{_('Catalog')}}</a></li>
{% endblock navlinks%}



{% block body %}

<div class="row">
  <div id="txtcont" class="span9">
    {% if lg == 'ja' %}
    <h3>漢籍リポジトリへの連絡</h3>
    <p>このウェブサイトは<b>漢籍リポジトリ</b>の中に有るテキストへの閲覧と検索機能を提供しています。質問や意見などはメールで<a href="mailto:krp2015gg@gmail.com">krp2015gg (at) gmail.com</a>までお願いします。</p>
    <p><b>漢籍リポジトリ</b>の内容と出所の選択の際に著作権の保護に関する法律や国際条約を重視しています。お持ちの権利に侵害されたと思われる場合は速やかに上記のメール宛ご連絡をお願いします。即座の解決に努めます。</p>
    <p><b>漢籍リポジトリ</b>、その設計背景と目標についての情報は<a href="http://blog.kanripo.org">漢リポブログ</a>にあります。</p>
    {% else %}
    <h3>Contact Kanseki Repository</h3>
    <p>This website provides access to the texts in
      the <b><a href="http://github.com/kanripo">Kanseki Repository</a></b>.
      Please direct any questions regarding the texts, the website or anything else to
      <a href="mailto:krp2015gg@gmail.com">krp2015gg (at) gmail.com</a>.
    </p>
    <p>Careful attention has been used in selecting and editing the content of this website and in keeping it in accordance with international treaties and legislation on intellectual property rights. If you believe there is a violation to a right you own please use the mail above to contact us, so that we can sort out the issues.</p>
    <p>More information about the Kanseki Repository, its design considerations and aims can be found here: <a href="http://blog.kanripo.org">Kanripo Blog</a>.</p>
    <p>A more sophisticated and powerful way to access the repository
    is through <b><a href="http://www.mandoku.org">Mandoku</a></b>, an
    extension of <a href="http://orgmode.org/">Org-Mode</a>
    for <a href="https://www.gnu.org/software/emacs/">Emacs</a>.</p>
    {% endif %}
  </div>
</div>
</div>
{% endblock %}

