{% extends "laybase.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Kanripo{% endblock %}


{% block navlinks %}
          <li><a href="{{url_for('main.catalog')}}">{{_('Catalog')}}</a></li>
{% endblock navlinks%}



{% block body %}

<div class="row">
  <div id="txtcont" class="span9">
    <h3>About Kanseki Repository</h3>
    <p>This website provides access to the texts in
    the <b><a href="http://github.com/kanripo">Kanseki Repository</a></b>.
    At the moment, there is only very simple search functionality, but
    it is planned to extend this depending on the needs of the
      users.</p>
    <p>More information about the Kanseki Repository, its design considerations and aims can be found here: <a href="http://blog.kanripo.org">Kanripo Blog</a>.</p>
    <p>A more sophisticated and powerful way to access the repository
    is through <b><a href="http://www.mandoku.org">Mandoku</a></b>, an
    extension of <a href="http://orgmode.org/">Org-Mode</a>
    for <a href="https://www.gnu.org/software/emacs/">Emacs</a>.</p>
    <h3>Catalog</h3>
    <h4>　<a href="{{url_for('main.catalog', coll='ZB1')}}">ZB1 	經部</a></h4>
    <h4>　<a href="{{url_for('main.catalog', coll='ZB2')}}">ZB2 	史部</a></h4>
    <h4>　<a href="{{url_for('main.catalog', coll='ZB3')}}">ZB3 	子部</a></h4>
    <h4>　<a href="{{url_for('main.catalog', coll='ZB4')}}">ZB4 	集部</a></h4>
    <h4>　<a href="{{url_for('main.catalog', coll='ZB5')}}">ZB5 	道部</a></h4>
    <h4>　<a href="{{url_for('main.catalog', coll='ZB6')}}">ZB6 	佛部</a></h4>
  </div>
</div>
<script>
$("#tabs").tabs({event :  "mouseover"}),tabs("url", 0, "index.html").tabs("load", 0)
</script>
</div>
{% endblock %}

