{% extends "laybase.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Kanripo{% endblock %}

{% block KR %}
{{_('Kanseki Repository')}}
{% endblock KR %}

{% block navlinks %}
<li><a href="{{url_for('main.catalog')}}">{{_('Catalog')}}</a></li>
<li><a href="http://blog.kanripo.org">Blog</a></li>
{% endblock navlinks%}



{% block body %}

<div class="row">
  <div id="txtcont" class="span9">
    {% if lg == 'ja' %}
    <h3>漢籍リポジトリについて</h3>
    {% else %}
    <h3>About Kanseki Repository</h3>
    {% endif %}
    {% if ret %}
    <p><b>{{ret|safe}}</b></p>
    {% endif %}
    <!--    <p><b>Important note [2015-11-22]:</b> This website is currently under development. Please do not base an evaluation of its content or functionality on the current state, which might change every day. Blackouts and Failures are also expected.  Documentation is missing.  That said, any feedback that might lead to the improvement of its site and its content is very much appreciated.  Anybody who is interested in developing tools that interoperate with this site should contact me through @kanripo on github. <b>A public release is planned for March 2016.</b></p> -->
    {% if lg == 'ja' %}
    <p>ここでは<a href="http://github.com">ウェブサイトGitHub.com</a>の<a href="http://github.com/kanripo">@kanripoユーザーアカウント</a>の中に有るテキストへの閲覧と検索機能を提供しています。現時点には簡単な検索しか出来ないが、使用者の要望に従って次第に機能を拡張したいと思います。
    <p><b>漢籍リポジトリ</b>、その設計背景と目標についての情報は<a href="http://blog.kanripo.org">漢リポブログ</a>にあります。</p>
    <p>ブラウザー上でテキストを編集すること、また読むことでさえ、それが長時間になると面倒です。この目的のために、<b><a href="http://www.mandoku.org">マンドク</a></b>と呼ばれる特化されたソフトウェアが開発しました。マンドクはその基盤として<a href="https://www.gnu.org/software/emacs/">Emacs</a>というテキストエディターでを使っています。</p>
    <h3>目録</h3>
    {% else %}
    <p>This website provides access to the texts available in
    the <b><a href="http://github.com/kanripo">GitHub user account @kanripo (Kanseki Repository)</a></b>.
    At the moment, there is only very simple search functionality, but
    it is planned to extend this depending on the needs of the
      users.</p>
    <p>More information about the Kanseki Repository, its design considerations and aims can be found here: <a href="http://blog.kanripo.org">Kanripo Blog</a>.</p>
    <p>A more sophisticated and powerful way to access the repository
    is through <b><a href="http://www.mandoku.org">Mandoku</a></b>, an
    extension of <a href="http://orgmode.org/">Org-Mode</a>
      for <a href="https://www.gnu.org/software/emacs/">Emacs</a>.</p>
    <h3>Catalog</h3>
    {% endif %}
    <h4>　<a href="{{url_for('main.catalog', coll='KR1')}}">KR1 	經部</a></h4>
    <h4>　<a href="{{url_for('main.catalog', coll='KR2')}}">KR2 	史部</a></h4>
    <h4>　<a href="{{url_for('main.catalog', coll='KR3')}}">KR3 	子部</a></h4>
    <h4>　<a href="{{url_for('main.catalog', coll='KR4')}}">KR4 	集部</a></h4> 
    <h4>　<a href="{{url_for('main.catalog', coll='KR5')}}">KR5 	道部</a></h4>
    <h4>　<a href="{{url_for('main.catalog', coll='KR6')}}">KR6 	佛部</a></h4> 
  </div>
</div>
</div>
{% endblock %}

