{% extends "laybase.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Kanripo{% endblock %}

{% block KR %}
{{_('Kanseki Repository')}}
{% endblock KR %}

{% block navlinks %}
<li><a href="{{url_for('main.catalog')}}">{{_('Catalog')}}</a></li>
<li><a href="http://blog.kanripo.org">Blog</a></li>
{% endblock navlinks%}



{% block body %}

<div class="row">
  <div id="txtcont" class="span9">
    <h3>About Kanseki Repository</h3>
    {% if ret %}
    <p><b>{{ret}}</b></p>
    {% endif %}
<!--    <p><b>Important note [2015-11-22]:</b> This website is currently under development. Please do not base an evaluation of its content or functionality on the current state, which might change every day. Blackouts and Failures are also expected.  Documentation is missing.  That said, any feedback that might lead to the improvement of its site and its content is very much appreciated.  Anybody who is interested in developing tools that interoperate with this site should contact me through @kanripo on github. <b>A public release is planned for March 2016.</b></p> -->
    <p>This website provides access to the texts in
    the <b><a href="http://github.com/kanripo">Kanseki Repository</a></b>.
    At the moment, there is only very simple search functionality, but
    it is planned to extend this depending on the needs of the
      users.</p>
    <p>More information about the Kanseki Repository, its design considerations and aims can be found here: <a href="http://blog.kanripo.org">Kanripo Blog</a>.</p>
    <p>A more sophisticated and powerful way to access the repository
    is through <b><a href="http://www.mandoku.org">Mandoku</a></b>, an
    extension of <a href="http://orgmode.org/">Org-Mode</a>
    for <a href="https://www.gnu.org/software/emacs/">Emacs</a>.</p>
    <h3>Catalog</h3>
    <h4>　<a href="{{url_for('main.catalog', coll='KR1')}}">KR1 	經部</a></h4>
    <h4>　<a href="{{url_for('main.catalog', coll='KR2')}}">KR2 	史部</a></h4>
    <h4>　<a href="{{url_for('main.catalog', coll='KR3')}}">KR3 	子部</a></h4>
    <h4>　<a href="{{url_for('main.catalog', coll='KR4')}}">KR4 	集部</a></h4> 
    <h4>　<a href="{{url_for('main.catalog', coll='KR5')}}">KR5 	道部</a></h4>
    <h4>　<a href="{{url_for('main.catalog', coll='KR6')}}">KR6 	佛部</a></h4> 
  </div>
</div>
</div>
{% endblock %}

