{% extends "laybase.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Kanripo{% endblock %}

{% block KR %}
{{_('Kanseki Repository')}}
{% endblock KR %}

{% block navlinks %}
<li><a href="{{url_for('main.catalog')}}">{{_('Catalog')}}</a></li>
{% endblock navlinks%}



{% block body %}

<div class="row">
  <div id="txtcont" class="span9">
    <h2>{{_('Profile for user <u>%(user)s</u>', user=user)}}　　<a class="btn-danger" href="{{url_for('main.signout')}}">{{_("Logout")}}</a></h2>
    {% for d in ret %}
    <h3>{{d[0]}}</h3>
    <table>
      {% for t in d[1] %}
      {% set tl = t[0][0:-4] %}
    <tr>
      <td  class="text-left"><b>{{tl}}</b>:</td>
      <td><a target="github" href="{{t[1]}}"> {{_('edit (GitHub)')}}</a> &nbsp; &nbsp;</td>
	  {% if tl in loaded %}
      <td><a href="{{url_for('main.unloadtextlist', ffile=tl, next='profile/'+user)}}">
	  {{_("unload")}}</a> &nbsp;&nbsp;
	  {% else %}
      <td><a href="{{url_for('main.loadtextlist', ffile=tl, next='profile/'+user)}}">
	  {{_("load")}} </a>
	  {% endif %}
    </td></tr>
      <tr><td><div id="{{tl}}"</div></td></tr>
		   {% endfor %}</table>
{% endfor %}
<h3>{{_('Settings')}}</h3>
<form id="userdata" action="{{url_for('main.saveuserdata', uid=session['user'])}}" method="POST">
  
  <p>{{_('Preferred sort method')}}
    <select name="sort">
      <option value="-txtid" {% if userdata['sort'] == "+txtid" %} selected {% endif %}>{{_('By text number')}}</option>
      <option value="+txtid" {% if userdata['sort'] == "-txtid" %} selected {% endif %}>{{_('By text number (reversed)')}}</option>
      <option value="+date" {% if userdata['sort'] == "+date" %} selected {% endif %}>{{_('By date')}}</option>
      <option value="-date" {% if userdata['sort'] == "-date" %} selected {% endif %}>{{_('By date (reversed)')}}</option>
      <option value="+term" {% if userdata['sort'] == "+term" %} selected {% endif %}>{{_('By term')}}</option>
      <option value="-term" {% if userdata['sort'] == "-term" %} selected {% endif %}>{{_('By term (reversed)')}}</option>
      <option value="+pre" {% if userdata['sort'] == "+pre" %} selected {% endif %}>{{_('By preceding characters')}}</option>
     </select>
    </p>
    <input type="hidden" name="next" value="{{url_for('main.profile', uid=session['user'])}}"/>
    <input style="margin-bottom:5px" type="submit" value="{{_('Save')}}"/>　
</form>
{{_('Advanced:')}}
  <ul>{{_('Edit settings on GitHub:')}}
    <li title="{{_('Settings valid for all applications, such as selections of texts, editions etc.')}}">
      <a target="github" href="https://github.com/{{session['user']}}/KR-Workspace/edit/{{session['user']}}/Settings/global.cfg"> {{_('Global Settings')}}</a>
    </li>
    <li title="{{_('Settings specific to this website, such as language, etc.')}}">
      <a target="github" href="https://github.com/{{session['user']}}/KR-Workspace/edit/{{session['user']}}/Settings/kanripo.cfg"> {{_('Kanripo Settings')}}</a>
    </li>
  </ul>
<h3>{{_('Recent searches')}}</h3>
<ul>
{% for s in searches %}
<li><a href="{{url_for('main.searchtext', query=s)}}">{{s}}</a></li>
{% endfor %}
</ul>
  </div>
</div>
{% endblock %}

