{% extends "laybase.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block navlinks %}
          <li class="active"><a href="{{url_for('main.texttop', id=txtid)}}" title="{{txtid}}">{{title}}</a></li>
          <li><a href="http://github.com/kanripo/{{txtid}}">GitHub repository</a></li>
          <li><a href="{{url_for('main.catalog')}}">{{_('Catalog')}}</a></li>
{% endblock navlinks%}


{% block subhead %}
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1><a href="{{url_for('main.showcoll', coll=ct.doc.id)}}">{{ct.doc.id}}</a> {{doc['TITLE']}} ({{edition}}) </h1>
  </div>
</header>
{% endblock subhead %}

<div class="container">
  <div class="row">
    <div class="span2">

{% block sidebar %}
<div class="sidebar">

<h2>{{_('Versions')}}</h2>
  <ul>
    {% for v in branches %} 
    <li><a href="/edition/{{v}}/{{txtid}}/{{juan}}">{{v}}</a></li>
    <ul>
    {% for s, f in ct.doc.sections %}
    <li><a href="{{s}}?edition={{v}}&amp;pos=1&amp;fac=True">{{s}}</a></li>
    {% endfor %}
    </ul>
    {% endfor %}
  </ul>

<h2>{{_('Facsimile')}}</h2>
    <ul>
    {% for s, f in ct.doc.sections %}
    <li><a href="{{s}}">{{s}}</a></li>
    {% endfor %}
    </ul>
<h2>{{_('Contents')}}</h2>
  <ul>
    {%- for item in ct.doc.toc recursive %}
    {%- if item[0] is number %}
    <li class="l{{item[0]}}"><a href="{{item[2]}}#p{{item[3]}}">{{item[1]}}</a></li>
    {% else %}
    {%- if loop.index <  20 %}
    <ul>{{loop(item)}}</ul>
    {%- endif %}
    {%- endif %}
    {%- endfor %}
  </ul>


</div>
{% endblock sidebar %}


{% block body %}

<div class="row">
  <div id="txtcont" class="span9">
    {{ct.mtext}}
  </div>
</div>

{% endblock %}

    {% block closingscript %}
<script>
  var imglist={};
  function displayPageImage(txtid, edition, juan, page){
  if (imglist.res)
  alert (imglist.res)
  else {
  $( "#sidebardiv" ).addClass('hidden');
  $( "#md-fac" ).detach()
  $( "#maintextdiv" ).removeClass('span9').addClass('span5');
  $( "#imagediv" ).removeClass('span1').addClass('span7');
  $( "#imagediv" ).removeClass('hidden')
  $( "#imageinner" ).addClass('krp-fixed');
  var w = $( "#imgcont").width();
  var h = $( window ).height() 
  $( ".panzoom" ).append( "<img id='md-fac' src='http://kr.kanripo.org/api/v1.0/getimage?filename=" + imglist[edition+" "+juan+ "-" + page] + "' style='max-width: 90%; max-height: 90%;'/>" );
  
  $( ".panzoom" ).panzoom({
            $zoomIn: $(".zoom-in"),
            $zoomOut: $(".zoom-out"),
            $zoomRange: $(".zoom-range"),
            $reset: $(".reset")
  });
  $( ".pz-close" ).hidePageImage();
  }
  };

  function hidePageImage(){
  $( "#sidebardiv" ).removeClass('hidden')
  $( "#imagediv" ).addClass('hidden');
  };
  
  (function($) {
  $(document).ready(function() {
  $.ajax({
  type: 'GET',
  url: '/api/v1.0/getimgdata?filename={{txtid}}/_data/imglist/{{txtid}}_{{juan}}.txt',
  dataType: 'text',
  success: function(data, textStatus) {
  //Console.log(data.length);
  //$('#imagediv').append(data);
  var lines = data.split('\n');
  for (var j=0; j < lines.length; j++) {
		    f = lines[j].split('\t');
		    if (f[1]) {
		    r = f[1].split(' ')
		    if (r[1]) {
		    if (r[1].indexOf('-') < 0){
					    imglist[r[0] + ' {{juan}}-' + r[1]] = f[2];
					    } 
					    else if (f[1].indexOf('JY') > -1){
		    imglist[r[0] + ' {{juan}}-' + r[1]] = f[2];
		    }
		    else
		    
					    imglist[f[1]]=f[2];
					    };
					    };
					    };
  },
  error: function(xhr, textStatus, errorThrown) {
  alert('An error occurred! ' + ( errorThrown ? errorThrown : xhr.status ));
  }
  });
  });
  })
(jQuery);
  
</script>
{% endblock %}
