{% extends "laybase.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block navlinks %}
<li class="active"><a href="{{url_for('main.showtext', id=txtid)}}" title="{{txtid}} {{title}}">{{title|truncate(8, true)}}</a></li>
{% if session['user'] and editurl %}
<li><a href="{{editurl}}">{{_('GitHub')}}</a></li>
{% else %}
<li><a href="http://github.com/kanripo/{{txtid}}">{{_('GitHub')}}</a></li>
{% endif %}
<li><a href="{{url_for('main.catalog')}}">{{_('Catalog')}}</a></li>
{% endblock navlinks%}


{% block subhead %}
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>{{txtid}} {{doc['TITLE']}} ({{edition}})</h1>
  </div>
</header>
{% endblock subhead %}

<div class="container">
  <div class="row">
    <div class="span2">

{% block sidebar %}
<div class="sidebar">
{% if showtoc %}
<h2>{{_('Versions')}}</h2>
<ul>
  {% if edition != 'master' %}
    <li><a href="/text/{{txtid}}/{{juan}}">【master】</a></li>
  {% endif %}
    {% for v in branches %} 
    <li><a href="/edition/{{v[0]}}/{{txtid}}/{{juan}}">{{v[1]}}</a></li>
    {% endfor %}
  </ul>

<h2>{{_('Contents')}}</h2>
  <ul>
    {% for i in toc %}
    {% for item in i %}
    <li><a href="{{item[0]}}#{{item[1]}}">{{item[2]}}</a></li>
    {% endfor %}
    {% endfor %}
  </ul>

{% endif %}
</div>
{% endblock sidebar %}


{% block body %}

<div class="row">
  <div id="txtcont" class="span9" style="position: relative;">
    {{ct.mtext}}
  </div>
</div>

{% endblock %}

{% block edoption %}
<select id="edoption">
<!--    {% for v in branches %} 
    <option value="{{v[0]}}" {% if v[0] == ed %}selected="selected"{% endif %}>{{v[1]}}</option>
    {% endfor %}
-->
</select>
{% endblock %}


{% block closingscript %}
<script>
  var imglist={};
  var edlist = {
 {% for v in branches %} 
    "{{v[0]}}" : "{{v[1]}}",
 {% endfor %}
  };
  var selx = {
  {% for v in branches %} 
  "{{v[0]}}" : {% if v[0] == ed %} "selected='selected'" {% else %} " " {% endif %},
  {% endfor %}
  };
  var urlist={};
  var noimg = 0;
//  var ob = new Array;

function stringStartsWith (string, prefix) {
    return string.slice(0, prefix.length) == prefix;
}
  
function displayPageImage(txtid, edition, juan, page){
  var ob = Object.keys( imglist );
  //  ob.sort();
  var ejp = edition+" "+juan
  im = imglist[ejp]
  if (typeof im === 'undefined') {
       alert("No digital facsimile available for this text!" + ejp)
  } else {
  $( "#overview" ).addClass('hidden');
	$( "#sidebardiv" ).addClass('hidden');
	$( "#txtcont" ).removeClass('span9').addClass('span5');
	$( "#md-fac" ).detach()
  $( "#maintextdiv" ).removeClass('span9').addClass('span5');
	$( "#imagediv" ).removeClass('span1').addClass('span4');
	$( "#imagediv" ).removeClass('hidden')
	$( "#imageinner" ).addClass('krp-fixed');
        var w = $( "#imgcont").width();
	var h = $( window ).height();
  $( ".panzoom" ).append( "<p id='md-fac' data-ilk='"+ejp+"'><img  src='" + imglist[edition+" "+juan] + "' style='max-width: 90%; max-height: 90%;'/><br/>"+ejp+"</p>" );
  
  
	$( ".panzoom" ).panzoom({
            $zoomIn: $(".zoom-in"),
            $zoomOut: $(".zoom-out"),
            $zoomRange: $(".zoom-range"),
            $reset: $(".reset")
  });
  $( "#edoption").on('change', function(){
  ind = ob.indexOf(ejp);
  ilk=ob[ind];
  //console.log(ind);
  //console.log(ejp);
  tm = ilk.split(" ")[0];
  edo = $( "#edoption :selected").val();
  while(tm != edo){
  ind = ind + 1;
  ilk = ob[ind];
  tm = ilk.split(" ")[0];
  }
  $( "#md-fac" ).detach();
  $( ".panzoom" ).append( "<p id='md-fac'  data-ilk='"+ilk+"'><img  src='" + imglist[ilk] + "' style='max-width: 90%; max-height: 90%;'/><br/>"+ilk+"</p>" );
  });

	$( ".pz-close" ).click(function(){
            $( "#txtcont" ).removeClass('span5').addClass('span9');
	$( "#maintextdiv" ).removeClass('span5').addClass('span9');
	    $( "#sidebardiv" ).removeClass('hidden')
  $( "#overview" ).removeClass('hidden');
	    $( "#imagediv" ).addClass('hidden');
	});
	$( ".pz-next" ).click(function(){
  var el = $( "#md-fac").attr("data-ilk");
  ind = ob.indexOf(el)+1
  ilk = ob[ind];
  edo = $( "#edoption :selected").val();
  tm = ilk.split(" ")[0];
  while(tm != edo){
  ind = ind + 1;
  ilk = ob[ind];
  tm = ilk.split(" ")[0];
  }
  $( "#md-fac" ).detach();
  $( ".panzoom" ).append( "<p id='md-fac'  data-ilk='"+ilk+"'><img  src='" + imglist[ilk] + "' style='max-width: 90%; max-height: 90%;'/><br/>"+ilk+"</p>" );
  });
	$( ".pz-prev" ).click(function(){
  var el = $( "#md-fac").attr("data-ilk");
  ind = ob.indexOf(el)-1
  ilk = ob[ind];
  edo = $( "#edoption :selected").val();
  tm = ilk.split(" ")[0];
  while(tm != edo){
  ind = ind - 1;
  ilk = ob[ind];
  tm = ilk.split(" ")[0];
  }
  $( "#md-fac" ).detach();
  $( ".panzoom" ).append( "<p id='md-fac'  data-ilk='"+ilk+"'><img  src='" + imglist[ilk] + "' style='max-width: 90%; max-height: 90%;'/><br/>"+ilk+"</p>" );
  });
};
};
  

(function($) {
    $(document).ready(function() {
	$.ajax({
	    type: 'GET',
	    url: 'https://raw.githubusercontent.com/{% if session['user'] and editurl %}{{session['user']}}{% else %}kanripo{% endif %}/{{txtid}}/_data/imglist/imginfo.cfg',
	    dataType: 'text',
	    success: function(data, textStatus) {
		//Console.log(data.length);
		//$('#imagediv').append(data);
		var lines = data.split('\n');
		for (var j=0; j < lines.length; j++) {
		    if (lines[j].indexOf('=') > 0){
			f = lines[j].split('=');
			if (f[0]) {
    urlist[f[0]] = f[1];
    if (edlist[f[0]]) {
    $("#edoption").append("<option value='" + f[0] + "' " +  selx[f[0]]  +  ">" + edlist[f[0]] + "</option>");
    }
			};
		    };
		};
  	  $.ajax({
	    type: 'GET',
	    url: 'https://raw.githubusercontent.com/{% if session['user'] and editurl %}{{session['user']}}{% else %}kanripo{% endif %}/{{txtid}}/_data/imglist/{{txtid}}_{{juan}}.txt',
	    dataType: 'text',
	    success: function(data, textStatus) {
		//Console.log(data.length);
		//$('#imagediv').append(data);
    var lines = data.split('\n');
    lines.sort()
		for (var j=0; j < lines.length; j++) {
		    f = lines[j].split('\t');
		    if (f[1]) {
			r = f[1].split(' ')
			if (r[1]) {
				  // console.log("F1:" + r[0])
			  
				  f2 = urlist[r[0]] + "/" + f[2]
				  if (f2.slice(-3) == "TIF"){
				  f2 = f2.replace("\.TIF", ".png")
				  }
//			    if (r[1].indexOf('-') < 0){
//				imglist[r[0] + ' {{juan}}-' + r[1]] = f2;
//			    } 
//			    else if (f[1].indexOf('JY') > -1){
//				imglist[r[0] + ' {{juan}}-' + r[1]] = f2;
//			    }	else
				
			imglist[f[1]]=f2;
			};
		    };
		};
	    },
	    error: function(xhr, textStatus, errorThrown) {
	    	   noimg = 1
		//alert('An error occurred! ' + ( errorThrown ? errorThrown : xhr.status ));
	    }
	});
		
	    },
	    error: function(xhr, textStatus, errorThrown) {
	    	   noimg = 1
	    	//alert('An error occurred! ' + ( errorThrown ? errorThrown : xhr.status ));
	    }
	});
// ajax 2	


});
})
(jQuery);  
</script>  
{% endblock %}
