{% extends "laybase.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block KR %}
{{_('Kanseki Repository')}}
{% endblock KR %}


{% block subhead %}

<header class="jumbotron subhead" id="overview">
  <div class="container">
    <p>
    {{_('Searched for %(value)s in text titles.', value=key)}}
    {{_('Found %(total)d, showing %(start)d to %(end)d.', total=sr.total, start=start+1, end=n)}} 
    </p>
  </div>
</header>


{% endblock subhead %}



{% block body %}

<div>
  <form id="textlist" action="{{url_for('main.savetextlist')}}" method="POST">
{% if session['user'] %}
    <p style="line-height:0.5em;"></p>
    <span style="background-color:linen;margin-top:2px;border: 3px solid blue;padding:8px 5px 5px 5px;">{{_('Filename:')}} 
    <input style="padding:1px;margin-top:3px" type="text" name="filename" value="{{key}}"/>　
    <input style="margin-bottom:5px" type="submit" value="{{_('Save text list')}}"/>　
    <input style="padding:1px;margin-top:3px" type="checkbox" name="load" value=""/>{{('Immediately load the text list')}}</input>
    <input type="hidden" name="next" value="{{url_for('main.titlesearch', query=key)}}"/>
    </span>
{% endif %}    
  <div>
    <table>
      {% for item in sr.list %}
      {% set it_txtid = item.split()[0] %}
      {% set it_title = item.split()[1] %}
      <tr>
	<!-- http://localhost:5000/text/ZB6q0003/003#0221a -->
	<!-- ZB1a0068:007-352:2:6 -->
{% if session['user'] %}
	<td><input name="cb" value="{{it_txtid}}" type="checkbox"/>　</td>
{% endif %}    
	<td class="text-left"><a href="{{url_for('main.showtext', id=it_txtid)}}" title="{{it_txtid}}">{{it_txtid}}</a></td>
	<td  class="text-left">{{it_title}}</td>
      </tr>
    {% endfor %}
    </table>
  </div>
</form>
</div>
{% if sr.total > 20 %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.titlesearch', query=key, filter=filter, count=count) }}
</div>
{% endif %}


{% endblock %}

{% block sidebar %}
<div>
  <h2>{{_('Actions')}}</h2>
{% if session['user'] %}
  <p id="select-all" onclick="toggle()">Toggle selection</p>
{% endif %} 
  <p>{{_('Order')}}
    <ul>
    <li><a href="{{url_for('main.titlesearch', query=key, sort='+count' )}}">{{_('by number of matches')}}</a></li>
    <li><a href="{{url_for('main.titlesearch', query=key, sort='+txtid' )}}">{{_('by text number')}}</a></li>
    <li><a href="{{url_for('main.titlesearch', query=key, sort='+title' )}}">{{_('by text title')}}</a></li>
  </ul></p>
</div>
{% endblock sidebar %}

{% block closingscript %}
<script>
function toggle() {
checkboxes = document.getElementsByName('cb');
for(var i=0, n=checkboxes.length;i<n;i++) {
    if (checkboxes[i].checked){
	checkboxes[i].checked = false;
	 }
	 else {
    checkboxes[i].checked = true;}
  };
};
</script>
{% endblock %}
